<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@kvipe — Dmitry Ulyanov</title>
	<link rel="stylesheet" href="dist/style.css">
</head>
<body>
	<header class="face">
		<div class="face-inner-wrapper">
			<div class="face-pic">
				<img src="./dist/assets/img/profile-pic.jpg" alt="">
			</div>
			<h1 class="face-title">Dmitry Ulyanov</h1>
			<h2 class="face-punchline">Web developer</h2>
			<div class="face-menu-wrapper">
				<a href="#about">About</a>
				<a href="#projects">Projects</a>
				<a href="#contacts">Contacts</a>
			</div>
		</div>
	</header>
	<section class="about" id="about">
		<div class="about-inner-wrapper">
			<h2>About</h2>
			<p>Hello everyone!</p>
			<p>I'm an entry-level web-developer. Frontend and backend are the things I'm mostly interesting in. In general, I like working with computers. For me, a programming is the creativity, but I look at this from an engineering perspective.</p>
			<p>I would like to become a professional programmer who can solve serious problems.</p>
			<p>You can find more details about my experience and skills <a href="https://github.com">here</a>.</p>
			<p>But apart from that, I enjoy doing photos. My Instagram can be found at the <a href="#contacts">bottom</a> of this page.</p>
			<p>When I'm not in front of a computer screen, I'm probably running, repairing my car (LOL) or learning new subjects and ways to be more productivity.</p>
			<p> I am happy if you <a href="mailto:kvipe@mail.ru">send me an email</a> to have any kind of discussion with me.</p>
		</div>
	</section>
	<section class="projects" id="projects">
		<div class="projects-inner-wrapper">
			<h2>Projects</h2>
			<div class="row">

			{{#projects}}
			<div class="project-preview">
				<div class="preview-image">
					<img src="{{{image}}}" alt="{{img-alt}}">
					<div class="preview-image-popup" style="display:none">
						<a class="icon-link-ext" target="_blank" href="{{{url}}}">Visit</a>
						{{#sourcecode}}
						<a class="icon-code" target="_blank" href="{{{sourcecode}}}">Sources</a>
						{{/sourcecode}}
						<span class="popup-close icon-cancel"></span>
					</div>
				</div>
				<div class="preview-content">
					<article>
						<h3>{{title}}</h3>
						<p>{{description}}</p>
					</article>
					<div class="meta-info">
						{{#tags}}
						<span title="{{title}}">{{tag}}</span>
						{{/tags}}
						
					</div>
				</div>
			</div>
			{{/projects}}

			</div>
		</div>
	</section>
	<section id="contacts">
		<div class="contacts-inner-wrapper">
			<h2>Contacts</h2>
			<p>Please feel free to write to me for anything: <a href="mailto:kvipe@mail.ru">kvipe@mail.ru</a></p>
			<div class="extra-links">
				<a title="E-Mail" href="mailto:kvipe@mail.ru"><i class="icon-mail"></i></a>
				<a title="Github" href="https://github.com/kvipe"><i class="icon-github-circled"></i></a>
				<a title="VK" href="https://vk.com/kvipe"><i class="icon-vkontakte"></i></a>
				<a title="Instagram" href="https://instagram.com/kvipe"><i class="icon-instagram"></i></a>
			</div>
		</div>
	</section>
	<footer>
		<p>kvipe &copy; 2019</p>
	</footer>
	<script src="dist/main.js"></script>
</body>
</html>